/* input.button {
	padding-top: 0;
} */

.profile__button {
  z-index: 2;
}

.registration-page-form__row {
  margin-top: 20px;
  margin-bottom: 20px;
}

.error {
	display: block;
	line-height: 1.3;
	padding-top: 11px;
	padding-bottom: 15px;
}

.error-with-desc {
	line-height: 1.3;
	padding-top: 15px;
	padding-bottom: 15px;
}

.error-with-desc-bottom {
	padding: 15px 15px 15px;
	color: #000;
}

.error-with-desc-bottom p {
	margin-top: 0;
	margin-bottom: 10px;
	line-height: 1.5;
}

.error-with-desc-bottom p:last-child {
	margin-bottom: 0;
}

.hidden {
	display: none;
}

.input,
.textarea {
	-webkit-transition: border 0.2s ease-in, outline 0.2s ease-in, box-shadow 0.2s ease-in;
	-o-transition: border 0.2s ease-in, outline 0.2s ease-in, box-shadow 0.2s ease-in;
	transition: border 0.2s ease-in, outline 0.2s ease-in, box-shadow 0.2s ease-in;
}

.textarea:focus,
.input:focus {
	border: 1px solid #999999;
	-webkit-box-shadow: 0px 0px 0px 2px #D5E7F0;
	box-shadow: 0px 0px 0px 2px #D5E7F0;
}

.avatar {
	background-image: url(../img/avatars/user-avatar-placeholder-big.jpg);
}

.avatar--small {
	height: 47px;
	width: 48px;
	background-image: url(../img/avatars/user-avatar-placeholder-small.jpg);
	background-repeat: no-repeat;
	background-size: 47px;
	border-radius: 24px;
}

.error--success {
	background-color: #00a85a;
	background-image: -webkit-gradient(linear, left bottom, left top, from(#006e3b), to(#00a85a)); 
	background-image: -webkit-linear-gradient(bottom, #006e3b 0%, #00a85a 100%); 
	background-image: -o-linear-gradient(bottom, #006e3b 0%, #00a85a 100%);
	background-image: linear-gradient(to top, #006e3b 0%, #00a85a 100%);
}
